@model CustomerManagementSystem.ViewModels.CustomersQueryViewModel

@{
    ViewBag.Title = "客戶資料管理";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("建新客戶", "Create")
</p>
<div class="panel panel-default">
    <div class="panel-heading">客戶資料查詢</div>
    <div class="panel-body">
        @using (Html.BeginForm("Index", "Customers", FormMethod.Post, null))
        {
            <div class="form-group col-sm-12">
                <label>@Html.DisplayNameFor(model => Model.Query.ClientName)</label>
                @Html.TextBoxFor(model=> Model.Query.ClientName, new { @placeholder = "客戶名稱", @class = "form-control" })
            </div>
            <div class="form-group col-sm-12">
                <label>@Html.DisplayNameFor(model => Model.Query.CompanyNumber)</label>
                @Html.TextBoxFor(model => Model.Query.CompanyNumber, new { @placeholder = "統編", @class = "form-control" })
            </div>
            <div class="form-group col-sm-12">
                
                <label>@Html.DisplayNameFor(model => Model.Query.CustomerTypeId)</label>
                @Html.DropDownListFor(model => Model.Query.CustomerTypeId, Model.CustomerTypeList,"不指定", htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="form-group col-sm-12">
                <label>@Html.DisplayNameFor(model => Model.Query.Phone)</label>
                @Html.TextBoxFor(model => Model.Query.Phone, new { @placeholder = "電話", @class = "form-control" })
            </div>
            <div class="form-group col-sm-12">
                <label>@Html.DisplayNameFor(model => Model.Query.Fax)</label>
                @Html.TextBoxFor(model => Model.Query.Fax, new { @placeholder = "傳真", @class = "form-control" })
            </div>
            <div class="form-group col-sm-12">
                <label>@Html.DisplayNameFor(model => Model.Query.Address)</label>
                @Html.TextBoxFor(model => Model.Query.Address, new { @placeholder = "地址", @class = "form-control" })
            </div>
            <div class="form-group col-sm-12">
                <label>@Html.DisplayNameFor(model => Model.Query.Email)</label>
                @Html.TextBoxFor(model => Model.Query.Email, new { @placeholder = "Email", @class = "form-control" })
            </div>
            @Html.Hidden("Take", Model.Paging.Take)
            @Html.Hidden("Skip", Model.Paging.Skip)
            <button type="submit" class="btn btn-primary">查詢</button>
            <button type="submit" class="btn btn-info" formaction='@Url.Action("GetExcel")'>匯出Excel</button>
        }
    </div>
</div>

@if (Model.Customers.Any())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].ClientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].CompanyNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].CustomerTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].Fax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].Email)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Customers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
}

